.HomeNavLink {
  color: #2e397e !important;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 4px solid transparent;
}
.HomeNavLink:hover {
  border-bottom: 4px solid #2e397e;
}

.HomeNavLink .active {
  border-bottom: 4px solid #2e397e;
}

.btn-dark-blue {
  background-color: var(--dark-color) !important;
  color: white !important;
}

.home-text {
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  color: var(--text-dark-color) !important;
}

.formControl:focus {
  border: none;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
