@font-face {
  font-family: "fa-regular";
  src: url("../assets/fonts/fa-regular-400.eot"), url("../assets/fonts/fa-regular-400.woff2") format("woff2"),
    url("../assets/fonts/fa-regular-400.woff") format("woff"), url("../assets/fonts/fa-regular-400.ttf") format("truetype");
  font-weight: normal;
}
html {
  font-family: "fa-regular" !important;
  font-size: 12px;
}
p {
  font-size: 2rem;
}
body {
  margin: 0;
  padding: 0;
}
.image-container {
  position: relative;
  display: inline-block;
}

.section1Content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 3, 63, 0.7);
}
.link-gray {
  color: #b9b9b9;
  text-decoration: none;
  font-size: 1.8rem;
}
.link-gray:hover {
  color: #ffffff;
  text-decoration: underline;
  transition: all 0.3s ease-in;
}
.list-inline {
  list-style: none;
}
.list-inline-item {
  list-style: none;
  font-size: 2rem;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  --icon-size: 35px;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50em;
  transition: all 0.3s linear;
}

.social-links a:hover {
  background: #ffffff;
  color: #09033f;
}

.header-link a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.header-link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s linear;
}

.header-link a:hover::before {
  transform: scaleX(1);
}

.hero-content {
  min-height: calc(100vh - 400px);
}
.hero-text p {
  font-size: 5rem;
  width: 50rem;
}
.hero-text a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.hero-text a i {
  color: #fff;
  text-decoration: none;
  --icon-size: 4rem;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50em;
  transition: all 0.3s linear;
}

.hero-text a i:hover {
  background: #ffffff;
  color: #09033f;
}
