@import url("https://fonts.cdnfonts.com/css/axiforma");

body {
  margin: 0;
  font-family: "Axiforma", sans-serif;
}
:root {
  --dark-color: #2e397e;
  --text-dark-color: #161616;
  --fade-blud-background: #4305fb;
}
